<div class="control-section">
  <div class="drag-sample-wrapper">
    <div class="schedule-container">
      <div class="title-container">
        <h1 class="title-text">Rig Scheduling</h1>
      </div>
      <ejs-schedule
        #scheduleObj
        cssClass="schedule-drag-drop"
        width="100%"
        height="550px"
        [group]="group"
        [selectedDate]="selectedDate"
        [workHours]="workHours"
        [monthsCount]="60"
        [eventSettings]="eventSettings"
        (actionBegin)="onActionBegin($event)"
        (drag)="onItemDrag($event)"
        (dragStop)="onItemDragStop($event)"
      >
        <e-resources>
          <e-resource
            field="ConsultantID"
            title="Consultant"
            name="Consultants"
            [dataSource]="consultantDataSource"
            [allowMultiple]="allowMultiple"
            textField="Text"
            idField="Id"
            groupIDField="GroupId"
            colorField="Color"
          >
          </e-resource>
        </e-resources>
        <e-views>
          <e-view
            option="TimelineMonth"
            [interval]="monthInterval"
            displayName="TimelineYear"
          ></e-view>
        </e-views>
        <e-header-rows>
        <e-header-row option="Year"> </e-header-row>
          <e-header-row option="Month"> </e-header-row>
        </e-header-rows>
      </ejs-schedule>
    </div>
    <div class="treeview-container">
      <div class="title-container">
        <h1 class="title-text">Waiting List</h1>
      </div>
      <ejs-treeview
        #treeObj
        [fields]="field"
        cssClass="treeview-external-drag"
        dragArea=".drag-sample-wrapper"
        [allowDragAndDrop]="allowDragAndDrop"
        (nodeDragStop)="onTreeDragStop($event)"
        (nodeDragging)="onItemDrag($event)"
      >
        <ng-template #nodeTemplate let-data>
          <div id="waiting">
            <div id="waitdetails">
              <div id="waitlist">{{ data.Name }}</div>
              <div id="waitcategory">
                {{ data.DepartmentName }} - {{ data.Description }}
              </div>
            </div>
          </div>
        </ng-template>
      </ejs-treeview>
    </div>
  </div>
</div>
